<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>Mediscoop</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error.jsp</location>
  </error-page>
  
  <servlet>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.mediscoop.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/updateAdminPassword</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>PatientServlet</display-name>
    <servlet-name>PatientServlet</servlet-name>
    <servlet-class>com.mediscoop.servlet.PatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientServlet</servlet-name>
    <url-pattern>/patientLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientServlet</servlet-name>
    <url-pattern>/patientRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientServlet</servlet-name>
    <url-pattern>/addPatient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientServlet</servlet-name>
    <url-pattern>/listPatients</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientServlet</servlet-name>
    <url-pattern>/showPatientEditForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientServlet</servlet-name>
    <url-pattern>/updatePatient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientServlet</servlet-name>
    <url-pattern>/deltePatient</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <display-name>DoctorServlet</display-name>
    <servlet-name>DoctorServlet</servlet-name>
    <servlet-class>com.mediscoop.servlet.DoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorServlet</servlet-name>
    <url-pattern>/doctorLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoctorServlet</servlet-name>
    <url-pattern>/doctorRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoctorServlet</servlet-name>
    <url-pattern>/listDoctors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoctorServlet</servlet-name>
    <url-pattern>/updateDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoctorServlet</servlet-name>
    <url-pattern>/addDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoctorServlet</servlet-name>
    <url-pattern>/showDoctorEditForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoctorServlet</servlet-name>
    <url-pattern>/delteDoctor</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AppointmentServlet</display-name>
    <servlet-name>AppointmentServlet</servlet-name>
    <servlet-class>com.mediscoop.servlet.AppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentServlet</servlet-name>
    <url-pattern>/listAppointments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppointmentServlet</servlet-name>
    <url-pattern>/createAppointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppointmentServlet</servlet-name>
    <url-pattern>/deleteAppointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppointmentServlet</servlet-name>
    <url-pattern>/editAppointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppointmentServlet</servlet-name>
    <url-pattern>/showEditAppointmentForm</url-pattern>
  </servlet-mapping>
  <servlet>
  
    <description></description>
    <display-name>SpecializationServlet</display-name>
    <servlet-name>SpecializationServlet</servlet-name>
    <servlet-class>com.mediscoop.servlet.SpecializationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpecializationServlet</servlet-name>
    <url-pattern>/listSpecs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SpecializationServlet</servlet-name>
    <url-pattern>/createSpec</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SpecializationServlet</servlet-name>
    <url-pattern>/showSpectEditForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SpecializationServlet</servlet-name>
    <url-pattern>/editSpec</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SpecializationServlet</servlet-name>
    <url-pattern>/deleteSpec</url-pattern>
  </servlet-mapping>
  
</web-app>